Thumbs.db
.DS_Store
*.apk
*.ap_
*.dex
*.class
bin/
gen/
build/
local.properties
.classpath
.project
.idea
.gradle
/*/local.properties
/*/out
/*/*/build
build
/*/*/production
*.iml
*.iws
*.ipr
*~
*.swp
